<div class="row" style="margin: 2% 5%;">
    <div class="col-12 col-md">
        <h5 style="color: rgb(223, 223, 223); font-weight: bolder;">Titan Compiler</h5>
        <small class="d-block mb-3 text-muted" style="color: rgb(223, 223, 223);" >&copy; 2021</small>
    </div>
    <div class="col-6 col-md">
        <h5 style="color: rgb(223, 223, 223);">Product</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/editor" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Compiler</a></li>
        </ul>
    </div>

    <div class="col-6 col-md">
        <h5 style="color: rgb(223, 223, 223);">Documentation</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/editor" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Titan Compiler</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/editor" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Titan Engine Api</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5 style="color: rgb(223, 223, 223);">About</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/price" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Pricing</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Company</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Support</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Terms of Use</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5 style="color: rgb(223, 223, 223);">Our location</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Dhaka,bangladesh</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">titancompiler@gmail.com</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">+0111001111</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">+0222210000</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:lemplifeab@gmail.com" onMouseOver="this.style.color='#3498db'" onMouseOut="this.style.color='grey'">Contact</a></li>

        </ul>
    </div>
</div>