<!-- <div class="row" style="margin: 2% 5%;">
    <div class="col-12 col-md">
      <h3>Titan Compiler</h3>
      <small class="d-block mb-3 text-muted">&copy; 2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Product</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/editor">Compiler</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/price">Pricing</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">about us</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">support</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:lemplifeab@gmail.com">contact</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Our location</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Dhaka,bangladesh</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">titancompiler@gmail.com</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">+0111001111</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">+0222210000</a></li>
      </ul>
    </div>
  </div> -->
<p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
