body{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
}

main {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;

}

/* for  header,main and footer position and sizing */
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}


.firstText{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}
.sndtext{
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
    margin-bottom:50px ;
}

/* for price grid  */
.price-grid{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 15rem;

}


/* for card  */
.card1{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    color: white;
    border-radius: 4px;
    
    width: 350px;
    height: 450px;

    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 30px;


   
}

.card1:hover{
    transform: translateY(-3px) scale(1.1);
}
/* for brand  */

.brandtext1{
    font-size:3rem;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom:50px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom:200px;
}

.card2{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}
.brandcard{
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}

.dis-text{
    text-align: center;
    border: 2px solid #a5a5a5;
    padding: 25px 10px;
    border-radius: 8px;
    margin-bottom: 200px;
}
.text1{
    padding-bottom: 2%;
}

.topfaq{
    text-align: center;
    /* padding-bottom: 3%; */
}

@media only screen and (max-width: 1000px) {

    main {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    
    }

    .firstText{
        font-size: 2rem;
    }
    .sndtext{
        font-size: 1rem;
        margin-bottom:50px ;
    }

    .brandtext1{
        font-size:2rem;
    }

    .company_icon {
        margin: 10px;
        font-size: 12px;
        width: 8em;
        height: 8em;
    }

}
